<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
     
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-positive">
      <h1 class="title">Acerca de..</h1>
    </ion-header-bar>
    <ion-content>
       <div class="item item-text-wrap">
       <p>Aplicación para calcular el Área y el Perímetro total de un terreno.</p>
       <br>
         <h3>Yohon Jairo Bravo Castro</h3>
         <p>Aprendiz ADSI</p>
         <p>bravo2008@misena.edu.co</p>
       </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
